<form method="post" action="{{ path('app_organization_delete', {index: loop.index0}) }}" onsubmit="return confirm('Do you really want to remove this organization ?')">
    <input type="hidden" name="token" value="{{ csrf_token('delete-' ~ loop.index0) }}">
    <button class="btn btn-danger">
        <i class="fa-regular fa-trash-can"></i>
    </button>
</form>