{% extends 'base.html.twig' %}

{% block title %}New organization{% endblock %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between">
        <h3>
            New organization
        </h3>
        <a href="{{ path('app_organization_index') }}" class="btn btn-link">
            Back to the list
        </a>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    New organization
                </div>
                <div class="card-body">
                    {% include 'organization/_form.html.twig' %}
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-block" form="{{ form.vars.attr.id }}">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
